* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #0B1120;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
